<!-- views\projectPages\projectMain\projectMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý dự án / Project Management</title>
    <link rel="stylesheet" href="projectPages/projectMain/projectMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính/Back to main</a>
      <a href="/message">Bảng tin nhắn / Message Board</a>
      <a href="/changePassword">Đổi mật khẩu / Change password</a>
      <a href="/logout">Đăng xuất / Logout</a>
    </div>
    <div class="container">
      <header>
        <h1>Quản lý dự án / Project Management</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/projectDocument" class="document"
              >Quản lý các phiếu trong dự án / Project Documents Management</a
            >
          </li>
          <li>
            <a href="/entry" class="expense"
              >Quản lý chi phí dự án / Project Expense Management</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
