<!-- views\projectPages\projectMain\projectMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý dự án</title>
    <link rel="stylesheet" href="projectPages/projectMain/projectMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Quản lý dự án</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/projectDocument" class="document"
              >Quản lý các phiếu trong dự án</a
            >
          </li>
          <li>
            <a href="/projectExpense" class="expense">Quản lý chi phí dự án</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
