<!-- views\userPages\userMain\userMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hệ thống quản lý người dùng / User Management System</title>
    <link rel="stylesheet" href="userPages/userMain/userMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính/Back to main</a>
      <a href="/message">Bảng tin nhắn / Message Board</a>
      <a href="/changePassword">Đổi mật khẩu / Change password</a>
      <a href="/logout">Đăng xuất / Logout</a>
    </div>
    <div class="container">
      <header>
        <h1>Hệ thống quản lý người dùng / User Management System</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/userSalaryCalculation" class="salary"
              >Bảng tính lương/Salary Calculation</a
            >
          </li>
          <li>
            <a href="/userMonthlyRecord" class="record"
              >Bản ghi hàng tháng/Monthly Record</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
