<!-- views\userPages\userMain\userMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hệ thống quản lý người dùng</title>
    <link rel="stylesheet" href="userPages/userMain/userMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Hệ thống quản lý người dùng</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/userSalaryCalculation" class="salary">Bảng tính lương</a>
          </li>
          <li>
            <a href="/userMonthlyRecord" class="record">Bản ghi hàng tháng</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
