<!-- views/starterPages/main.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Main Page</title>
    <link rel="stylesheet" href="starterPages/main.css" />
  </head>
  <body>
    <div class="header">
      <a href="/message">Bảng tin nhắn / Message Board</a>
      <a href="/changePassword">Đổi mật khẩu / Change password</a>
      <a href="/logout">Đăng xuất / Logout</a>
    </div>
    <div class="container">
      <h1>Chào mừng vào Trình quản lý Tác vụ Kỳ Long!</h1>
      <h2>Welcome to the Ky Long Task Manager!</h2>
      <a href="/documentMain">Hệ thống phê duyệt / Approval System</a>
      <a href="/entry"
        >Hệ thống theo dõi chi phí dự án / Project Expenses Tracking System</a
      >
      <a href="/mainFileTransfer"
        >Hệ thống chuyển tệp tin / Files Transfer System</a
      >
      <a href="/admin">Hệ thống quản lý / Administrative System</a>
    </div>
  </body>
</html>
