<!-- views/starterPages/main.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Trang chính</title>
    <link rel="stylesheet" href="starterPages/main.css" />
  </head>
  <body>
    <div class="header">
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <h1>Chào mừng vào Trình quản lý Tác vụ Kỳ Long!</h1>
      <a href="/documentMain">Hệ thống phê duyệt</a>
      <a href="/projectMain">Hệ thống quản lý dự án</a>
      <a href="/reportMain">Báo cáo</a>
      <a href="/userMain">Hệ thống quản lý người dùng</a>
      <a href="/sftpMain">Hệ thống quản lý tệp tin</a>
      <a href="/adminMain">Quản trị hệ thống</a>
    </div>
  </body>
</html>
