<!-- views/documents/submitDocument.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Submit New Generic Document</h2>
      <form action="/submitDocument" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" required />

        <label for="content">Content</label>
        <textarea name="content" rows="5" required></textarea>

        <button type="submit">Submit Document</button><br />
        <a href="/mainDocument">Back</a><br />
      </form>
    </div>
  </body>
</html>
