<!-- views\documentPages\documentMain\documentMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài liệu</title>
    <link rel="stylesheet" href="documentPages/documentMain/documentMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Hệ thống phê duyệt</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/documentSubmission" class="submit">Nộp phiếu mới</a>
          </li>
          <li>
            <a href="/documentSummary" class="document">Tóm tắt phiếu</a>
          </li>
          <li>
            <a href="/documentInGroup" class="group">Phiếu theo nhóm chung</a>
          </li>
          <li>
            <a href="/documentInGroupDeclaration" class="groupDeclaration"
              >Phiếu theo nhóm kê khai</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
