<!-- views\documentPages\documentSummary\documentSummary.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài liệu/Document</title>
    <link
      rel="stylesheet"
      href="documentPages/documentSummary/documentSummary.css"
    />
  </head>
  <body>
    <div class="header">
      <a href="/documentMain">Trở về</a>
      <a href="/main">Trở về trang chính</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Tóm tắt phiếu</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/documentSummaryProposal" class="proposal"
              >Tóm tắt phiếu đề xuất</a
            >
          </li>
          <li>
            <a href="/documentSummaryProjectProposal" class="projectProposal"
              >Tóm tắt phiếu đề nghị mở dự án</a
            >
          </li>
          <li>
            <a href="/documentSummaryPurchasing" class="purchasing"
              >Tóm tắt phiếu mua hàng</a
            >
          </li>
          <li>
            <a href="/documentSummaryDelivery" class="delivery"
              >Tóm tắt phiếu xuất kho</a
            >
          </li>
          <li>
            <a href="/documentSummaryAdvancePayment" class="advancePayment"
              >Tóm tắt phiếu tạm ứng</a
            >
          </li>
          <li>
            <a
              href="/documentSummaryAdvancePaymentReclaim"
              class="advancePaymentReclaim"
              >Tóm tắt phiếu thu lại tạm ứng</a
            >
          </li>
          <li>
            <a href="/documentSummaryPayment" class="payment"
              >Tóm tắt phiếu thanh toán</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
