<!-- views/main.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose a template</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Approval System!</h1>
      <p>You are successfully logged in.</p>
      <a href="/mainDocument">Generic Documents</a><br />
      <a href="/main">Back to Main</a><br />
      <a href="/logout">Logout</a><br />
    </div>
  </body>
</html>
