<!-- views/sftpPages/sftpMain/sftpMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hệ thống quản lý tệp tin</title>
    <link rel="stylesheet" href="sftpPages/sftpMain/sftpMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Hệ thống quản lý tệp tin</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/sftpPurchasing" class="sftpPurchasing"
              >Thuộc phòng mua hàng</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
