@model DataEntryProject.Models.Article

@{
    ViewData["Title"] = "Create Article";
}

<h1>Create Article</h1>

<h4>Article</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Function" class="control-label"></label>
                    <input asp-for="Function" class="form-control" />
                    <span asp-validation-for="Function" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CitationSource" class="control-label"></label>
                    <input asp-for="CitationSource" class="form-control" />
                    <span asp-validation-for="CitationSource" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassificationSymbolSubCategory1" class="control-label"></label>
                    <select asp-for="ClassificationSymbolSubCategory1" asp-items="ViewBag.ClassificationSymbolOptions" class="form-control"></select>
                    <span asp-validation-for="ClassificationSymbolSubCategory1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassificationSymbolSubCategory2" class="control-label"></label>
                    <select asp-for="ClassificationSymbolSubCategory2" asp-items="ViewBag.ClassificationSymbolOptions" class="form-control"></select>
                    <span asp-validation-for="ClassificationSymbolSubCategory2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassificationSymbolSubCategory3" class="control-label"></label>
                    <select asp-for="ClassificationSymbolSubCategory3" asp-items="ViewBag.ClassificationSymbolOptions" class="form-control"></select>
                    <span asp-validation-for="ClassificationSymbolSubCategory3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Keywords" class="control-label"></label>
                    <input asp-for="Keywords" class="form-control" />
                    <span asp-validation-for="Keywords" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <textarea asp-for="Comments" class="form-control"></textarea>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RelevanceSubCategory1" class="control-label"></label>
                    <select asp-for="RelevanceSubCategory1" asp-items="ViewBag.RelevanceOptions" class="form-control"></select>
                    <span asp-validation-for="RelevanceSubCategory1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RelevanceSubCategory2" class="control-label"></label>
                    <select asp-for="RelevanceSubCategory2" asp-items="ViewBag.RelevanceOptions" class="form-control"></select>
                    <span asp-validation-for="RelevanceSubCategory2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReasonSubCategory1" class="control-label"></label>
                    <select asp-for="ReasonSubCategory1" asp-items="ViewBag.ReasonOptions" class="form-control"></select>
                    <span asp-validation-for="ReasonSubCategory1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReasonSubCategory2" class="control-label"></label>
                    <select asp-for="ReasonSubCategory2" asp-items="ViewBag.ReasonOptions" class="form-control"></select>
                    <span asp-validation-for="ReasonSubCategory2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a href="/">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
