<!-- views/reportPages/reportMain/reportMain.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Báo cáo</title>
    <link rel="stylesheet" href="reportPages/reportMain/reportMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính</a>
      <a href="/documentSummaryUnapproved">Phiếu chưa duyệt</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Báo cáo</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/reportSubmission" class="reportSubmission">Nộp báo cáo</a>
          </li>
          <li>
            <a href="/reportSummary" class="reportSummary">Tóm tắt báo cáo</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
