<!-- views\admins\mainAdmin.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản trị hệ thống</title>
    <link rel="stylesheet" href="adminPages/adminMain/adminMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính</a>
      <a href="/documentSummaryUnapproved">Phiếu chưa duyệt</a>
      <a href="/message">Bảng tin nhắn</a>
      <a href="/changePassword">Đổi mật khẩu</a>
      <a href="/logout">Đăng xuất</a>
    </div>
    <div class="container">
      <header>
        <h1>Quản trị hệ thống</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/costCenterAdmin" class="costCenterAdmin"
              >Phân quyền trạm</a
            >
          </li>
          <li>
            <a href="/productAdmin" class="productAdmin">Phân mã sản phẩm</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
