<!-- views\admins\mainAdmin.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài liệu/Document</title>
    <link rel="stylesheet" href="adminPages/adminMain/adminMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính/Back to main</a>
      <a href="/message">Bảng tin nhắn / Message Board</a>
      <a href="/changePassword">Đổi mật khẩu / Change password</a>
      <a href="/logout">Đăng xuất / Logout</a>
    </div>
    <div class="container">
      <header>
        <h1>Hệ thống quản lý / Administrative System</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/costCenterAdmin" class="costCenterAdmin"
              >Phân quyền trạm/Centers Permission Assignment</a
            >
          </li>
          <li>
            <a href="/productAdmin" class="productAdmin"
              >Phân mã sản phẩm/Product Code Assignment</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
