<!-- views\approvals\mainApproval.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài liệu/Document</title>
    <link rel="stylesheet" href="documentPages/documentMain.css" />
  </head>
  <body>
    <div class="header">
      <a href="/main">Trở về trang chính/Back to main</a>
      <a href="/message">Bảng tin nhắn / Message Board</a>
      <a href="/changePassword">Đổi mật khẩu / Change password</a>
      <a href="/logout">Đăng xuất / Logout</a>
    </div>
    <div class="container">
      <header>
        <h1>Hệ thống phê duyệt / Approval System</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/documentSubmission" class="submit"
              >Nộp phiếu mới/Submit New Document</a
            >
          </li>
          <li>
            <a href="/documentSummary" class="document"
              >Tóm tắt phiếu đơn/Single Document Summary</a
            >
          </li>
          <li>
            <a href="/groupedDocument" class="group"
              >Phiếu theo nhóm/Grouped Documents</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
