<!-- views\documentPages\documentSummary.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài liệu/Document</title>
    <link rel="stylesheet" href="documentPages/documentSummary.css" />
  </head>
  <body>
    <div class="header">
      <a href="/documentMain">Trở về /Back</a>
      <a href="/main">Trở về trang chính/Back to main</a>
      <a href="/message">Bảng tin nhắn / Message Board</a>
      <a href="/changePassword">Đổi mật khẩu / Change password</a>
      <a href="/logout">Đăng xuất / Logout</a>
    </div>
    <div class="container">
      <header>
        <h1>Tóm tắt phiếu / Document Summary</h1>
      </header>
      <nav>
        <ul class="document-links">
          <li>
            <a href="/documentSummaryProposal" class="proposal"
              >Tóm tắt phiếu đề xuất/Proposal Document Summary</a
            >
          </li>
          <li>
            <a href="/documentSummaryProjectProposal" class="projectProposal"
              >Tóm tắt phiếu đề nghị mở dự án/Project Proposal Document
              Summary</a
            >
          </li>
          <li>
            <a href="/documentSummaryPurchasing" class="purchasing"
              >Tóm tắt phiếu mua hàng/Purchasing Document Summary</a
            >
          </li>
          <li>
            <a href="/documentSummaryDelivery" class="delivery"
              >Tóm tắt phiếu xuất kho/Delivery Document Summary</a
            >
          </li>
          <li>
            <a href="/documentSummaryAdvancePayment" class="advancePayment"
              >Tóm tắt phiếu tạm ứng/Advance Payment Document Summary</a
            >
          </li>
          <li>
            <a href="/documentSummaryPayment" class="payment"
              >Tóm tắt phiếu thanh toán/Payment Document Summary</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
