<!-- views/transfer/googleDrive/googleDriveFileTransfer.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Hệ thống chuyển tệp tin / Files Transfer System</title>
  </head>
  <body>
    <h1>Hệ thống chuyển tệp tin / Files Transfer System</h1>

    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" id="fileInput" name="file" required />
      <button type="submit">Tải lên / Upload</button>
    </form>

    <div id="message"></div>

    <div id="fileList">
      <!-- File list will be populated here -->
    </div>

    <a href="/main">Trở về màn hình chính / Back to Main</a><br />
    <a href="/logout">Đăng xuất / Logout</a><br />

    <script>
      const uploadForm = document.getElementById("uploadForm");
      uploadForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(uploadForm); // Create FormData from the form

        try {
          const response = await fetch("/upload", {
            method: "POST",
            body: formData,
          });

          const result = await response.json();
          document.getElementById("message").innerText = result.message;
        } catch (error) {
          document.getElementById("message").innerText = "Upload failed";
        }
      });

      async function fetchFiles() {
        const response = await fetch("/googleDriveFile");
        const files = await response.json();

        const fileList = document.getElementById("fileList");
        fileList.innerHTML = files
          .map(
            (file) => `
                <div>
                    <span>${file.name}</span>
                    <a href="/download/${file.googleDriveId}" download>Download</a>
                </div>
            `
          )
          .join("");
      }

      fetchFiles();
    </script>
  </body>
</html>
