<!-- views/approvals/documents/mainDocument.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài liệu/Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Document Console</h2>
      <a href="/submitDocument">Nộp phiếu mới/Submit New Document</a><br />
      <a href="/approveDocument">Phê duyệt phiếu/Approve Documents</a><br />
      <a href="/viewApprovedDocument"
        >Phiếu đã phê duyệt/View Approved Documents</a
      ><br />
      <a href="/main">Trở về màn hình chính/Back to Main</a><br />
      <a href="/logout">Đăng xuất/Logout</a><br />
    </div>
  </body>
</html>
