<!-- views/approvals/documents/mainDocument.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="container">
        <h2>Generic Document Console</h2>
        <a href="/submitDocument">Submit New Document</a><br />
        <a href="/approveDocument">Approve Documents</a><br />
        <a href="/viewApprovedDocument">View Approved Documents</a><br />
        <a href="/main">Back to Main</a><br />
        <a href="/logout">Logout</a><br />
      </div>
</body>
</html>