<!-- views\documentPages\documentSubmission\documentSubmission.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Nộp phiếu/Submit Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      href="documentPages/documentSubmission/documentSubmission.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Nộp phiếu mới/Submit New Document</h2>
      <form
        id="submit-form"
        action="/submitDocument"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="title">Title</label>
        <select name="title" id="title-dropdown" required>
          <option value="">Chọn mẫu phiếu/Select a title</option>
          <option value="Generic Document">Phiếu chung/Generic Document</option>
          <option value="Project Proposal Document">
            Phiếu đề nghị mở dự án/Project Proposal Document
          </option>
          <option value="Proposal Document">
            Phiếu đề xuất/Proposal Document
          </option>
          <option value="Purchasing Document">
            Phiếu mua hàng/Purchasing Document
          </option>
          <option value="Delivery Document">
            Phiếu xuất kho/Delivery Document
          </option>
          <option value="Payment Document">
            Phiếu thanh toán/Payment Document
          </option>
          <option value="Advance Payment Document">
            Phiếu tạm ứng/Advance Payment Document
          </option>
        </select>

        <!-- Content fields for Generic Document -->
        <div id="content-fields">
          <label for="contentName">Tên nội dung/Content Name</label>
          <input type="text" name="contentName" required />
          <label for="contentText">Nội dung/Content Text</label>
          <textarea name="contentText" rows="5" required></textarea>
        </div>

        <button type="button" id="add-content-btn">
          Thêm nội dung/Add More Content</button
        ><br />

        <label for="file">Đính kèm tệp/Attach File:</label>
        <input type="file" name="file" id="file" />

        <!-- Dropdown for appending approved documents, only visible for Generic Document -->
        <div id="append-approved-documents-section" style="display: none">
          <label for="approvedDocumentsDropdown"
            >Kèm phiếu đã duyệt/Append Approved Document</label
          >
          <select id="approvedDocumentsDropdown" name="approvedDocuments">
            <option value="">
              Chọn một phiếu đã duyệt/Select an approved document
            </option>
          </select>
        </div>

        <!-- Fields for selecting and previewing approved proposal document -->
        <div id="approved-proposal-section" style="display: none">
          <label for="approvedProposals"
            >Chọn phiếu đề xuất đã duyệt/Select Approved Proposal
            Documents</label
          >
          <div id="proposal-selections">
            <div class="proposal-entry"></div>
          </div>
          <button type="button" onclick="addProposalEntry()">
            Thêm phiếu đề xuất/Add Another Proposal
          </button>
          <div id="proposalPreviews"></div>
        </div>

        <!-- Dropdown for selecting Purchasing Document to append -->
        <div id="append-purchasing-documents-section" style="display: none">
          <label for="purchasingDocumentsDropdown">
            Chọn phiếu mua hàng để kèm theo/Select a Purchasing Document to
            Append
          </label>
          <select id="purchasingDocumentsDropdown">
            <option value="">
              Chọn phiếu mua hàng để kèm theo/Select a purchasing document
            </option>
            <!-- Options populated dynamically -->
          </select>
          <button type="button" id="add-purchasing-document-btn">
            Thêm phiếu mua hàng kèm theo /Append purchasing document
          </button>
        </div>

        <!-- List of appended purchasing documents -->
        <div id="appendedPurchasingDocumentsList">
          <ul id="purchasingDocumentsList"></ul>
        </div>

        <!-- Preview of the selected Purchasing Document -->
        <div id="purchasingDocumentPreview" style="display: none">
          <h3>
            Xem trước phiếu mua hàng đi kèm/Preview of Purchasing Document
          </h3>
          <p><strong>Thông tin sản phẩm/Product Details:</strong></p>
          <div id="productDetails"></div>
          <div id="appendedContentDetails"></div>
        </div>

        <!-- Approvers selection -->
        <label for="approvers">Chọn người phê duyệt/Select Approvers</label>
        <div id="approver-selection"></div>

        <button type="submit">Nộp phiếu/Submit Document</button><br />
        <a href="/documentMain">Trở về/Back</a><br />
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="documentPages/documentSubmission/documentSubmission.js"></script>
  </body>
</html>
